.skills__container{
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    row-gap: 2rem; /* space between cards */
    justify-content: center;
}

.skills__title i{
  font-size: 20px;
  margin-right: 6px;
  vertical-align: middle;
}

.skills__content{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.334);
    padding: 2rem 3rem; /* slightly balanced padding */
    border-radius: 1.25rem;
}

.skills__content:hover{
    border-color: black;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--normal-medium);
    text-align: center;
    margin-bottom: 2rem; /* more space between title and skills */
}

.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 3rem; /* space between two columns */
}

.skills__group{
    margin-top: 0.5rem;
    display: grid;
    align-items: flex-start;
    row-gap: 1.2rem; /* space between skill items */
}

.skills__data{
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
}

.skills .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}



/* For large devices */
@media screen and (max-width: 992px) {
    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
  }
  
  /* For medium devices */

  
  @media screen and (max-width: 576px) {
    .skills__container{
        grid-template-columns: 1fr;
    }
    .skills__content{
        padding: 1.5rem;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .skills__box{
        column-gap: 1.25rem;
    }
    .skills__name{
        font-size: var(--small-font-size);
    }
  
  }
  